.tiles:hover {
  background-color: white;
  background-image: url("/icon/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  text-indent: -9999px; 
}
